.container {
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ff3019 7%, #cf0404 61%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(7%,#ff3019), color-stop(61%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #ff3019 7%,#cf0404 61%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #ff3019 7%,#cf0404 61%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #ff3019 7%,#cf0404 61%); /* IE10+ */
  background: linear-gradient(135deg,  #ff3019 7%,#cf0404 61%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: white;
}

.btn{
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(-45deg, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
background: linear-gradient(135deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border: solid black 1px;
}
li {
  list-style: none;
}

#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
